<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%- for item in slideindex -%}
      {% if page.fileSlug == item.fileSlug %}
        <title>{{ page.fileSlug }}
          --
          {{item.data.title}}</title>
      {% endif %}
    {%- endfor -%}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/themes/prism.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=asap:wght@400;700&family=roboto+slab:wght@100;300;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="bg-subdued">
    <div class="post post-sidebar container-fluid">
      <div class="row justify-content-md-center">

        {% if collections.slides.length > 1 -%}
          <aside class="aside aside-main col col-md-3 col-lg-2 gx-0">
            <nav class="sticky-top fw-medium lh-sm pt-2 ">
              <h3 class="text-secondary">All Docs</h3>

              {%- for item in collections.slides | sortBySlugs -%}
                {% if (item.fileSlug !== 'demo') and (item.fileSlug) !== 'slides' %}
                  <div class="d-flex justify-content-end align-items-right border-bottom p-2 {% if page.fileSlug  == item.fileSlug %} bg-primary {% endif %}">
                    <a class="text-decoration-none {% if page.fileslug  == item.fileslug %} fw-bolder link-light {% else %} link-secondary {% endif %} link-primary" href="../{{ item.fileslug }}/index.html">
                      <i class="fas fa-file-alt me-2 lh-1 {% if page.fileslug  == item.fileslug %} text-light {% else %} text-primary {% endif %}"></i>
                      {{ item.fileSlug | safe }}
                      {{ item.data.title | safe }}</a>
                    <a class="{% if page.fileslug  == item.fileslug %} link-light {% else %} link-secondary {% endif %} flex-fill ms-3 text-end" href="../../../?d={{ item.fileslug }}&#">
                      <i class="fab fa-slideshare"></i>
                    </a>
                  </div>
                {% endif %}
              {%- endfor -%}
            </nav>
          </aside>
        {% endif -%}

        <main class="main col col-md-6 col-lg-8">
          {{ content | safe }}
        </main>
        <aside class="aside aside-supplemental col col-md-3 col-lg-2 d-none d-md-block">
          <nav class="sticky-top">
            <h3 class="pt-2">This Slide</h3>
            {{ content | toc | safe }}
          </nav>
        </aside>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/prism.min.js"></script>
    <script defer="defer" src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>